USE [master]
GO
/****** Object:  Database [AddressPlan]    Script Date: 09.10.2019 5:20:14 ******/
CREATE DATABASE [AddressPlan]

GO
USE [AddressPlan]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 09.10.2019 5:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[StreetId] [int] NOT NULL,
	[SubdivisionId] [int] NOT NULL,
	[House] [nvarchar](12) NOT NULL,
	[Serial] [nvarchar](24) NULL,
	[СountFloor] [int] NULL,
	[СountEntrance] [int] NULL,
	[Latitude] [decimal](18, 2) NOT NULL,
	[Longitude] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 09.10.2019 5:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Street] PRIMARY KEY CLUSTERED 
(
	[StreetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subdivision]    Script Date: 09.10.2019 5:20:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subdivision](
	[SubdivisionId] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_dbo.Subdivision] PRIMARY KEY CLUSTERED 
(
	[SubdivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (1, 45, 2, N'34/1', NULL, 5, 5, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (2, 45, 2, N'35', NULL, 4, 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (3, 45, 2, N'36', NULL, 5, 5, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (1, N'вул. А. Шептицького')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (2, N'вул. В. Нестайка')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (3, N'вул. Челябінська')
GO
SET IDENTITY_INSERT [dbo].[Street] OFF
SET IDENTITY_INSERT [dbo].[Subdivision] ON 

INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (1, N'ЖЕД 401')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (2, N'ЖЕД 402')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (3, N'ЖЕД 403')
SET IDENTITY_INSERT [dbo].[Subdivision] OFF
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([StreetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId] FOREIGN KEY([SubdivisionId])
REFERENCES [dbo].[Subdivision] ([SubdivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId]
GO
USE [master]
GO
